<div id="add-meal">
	<%= @order.restaurant %>  <%= link_to "Add meal", edit_order_path(id: @order.id), remote: true %>
	<% unless @order.meal_order.empty? %>
		<% @order.meal_order.each do |meal| %>
			<div>
				<p>Meal Name: <%= meal.name %> Meal Price: <%= meal.price %> Ordered by: <%= meal.user.name %></p>
			</div>
		<% end %>
	<% end %>
	
</div>