<div id="add-meal">

	<div class="row centered-form">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title"><strong><%= @order.restaurant %></strong></h3>
		  </div>
		  <div class="panel-body"> 
	
			<% if @order.status == "Active" %>
				<%= link_to "Add meal", edit_order_path(id: @order.id), remote: true, class: "btn btn-info btn-block"%>
				<div class="panel-body"></div>
				<% unless @order.meal_order.empty? %>
					<%= render "active-status-menu" %>
				<% end %>
			<% elsif @order.status == "Ordered" %>
				<%= render "ordered-status-menu" %>			
			<% elsif @order.status == "Delivered" %>
				<%= render "delivered-status-menu" %>	
			<% end %>

		  </div>
	  	</div>
	</div>

	<div id="show-order-details">
		<div class="row centered-form">
			<div class="panel panel-default">
			  <div class="panel-heading">
	  			<h3 class="panel-title">Meal List</h3>
	  		  </div>
	  		  <table class="table table-hover table-bordered">
	  		    <thead>
	  		      <tr>
	  		    	<td><strong>Name</strong></td>
	  		    	<td><strong>Price</strong></td>
	  		    	<td><strong>Ordered by</strong></td>
	  		      </tr>
	  		    </thead>

	  		    <tbody>
	  		    	<% unless @order.meal_order.empty? %>
						<% @order.meal_order.each do |meal| %>
		  		    	<tr>
						  <td> <%= meal.name %> </td>   
						  <td> <%= meal.price %> </td>
						  <td> <%= meal.user.name %> </td>
						</tr>
						<% end %>
				    <% end %>
			    </tbody>
			  </table>
			</div>
		</div>
	</div>

</div>