<% if current_user %>
	<div id="order-details">
		<div>
			<%= link_to "Create Order", new_order_path, id: "new_order", remote: true %>
		</div>
	</div>	

	<div id="show-order-details">
		<% unless @orders.empty? %>
			<% @orders.each do |order| %>
				<%= order.restaurant %>  <%= link_to "Show Order", order_path(id: order.id), remote: true %>
			<% end %>
		<% end %>
	</div>
	
	<div id="filter-order">
		<h5>Filter Orders</h5>
		<%= form_tag("/filter", method: "post", remote: true) do %>
			<select name="filter" id="filter">
			  <option value="Active">Active</option>
			  <option value="Archived">Archived</option>
			</select>
			<%= submit_tag("Filter") %>
		<% end %>
	</div>
<% end %>


