<!DOCTYPE html>
<html>
  <head>
    <title>MealOrderingSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script src="https://use.fontawesome.com/050a679357.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Script to fade out flash messages -->
    <script>
      $(document).ready(function(){
        $("#flash").fadeOut(3000);
      });
    </script>
    <!-- End of Script to fade out flash messages -->
  
  </head>

  <body>
    <!-- Beginning of Navigation Bar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><%= image_tag "monterail.png", class: "image-logo" %></a>
          <% unless current_user == nil %>        
            <%= link_to "Home", orders_path, class: "btn btn-info navbar-btn" %>
          <% end %>
        </div>

        <!-- Begining of Flash notice -->
        <div class="nav navbar-nav navbar-center" >
          <% if flash[:notice] %>
            <h3 class="panel-title" id="flash"><%= flash[:notice] %></h3>
          <% end %>            
        </div>
        <!-- End of Flash notice -->

        <!-- User name and Sign out button -->
        <% if current_user %>
          <div class="nav navbar-nav navbar-right" >
            <%= link_to "Sign Out", signout_path, class: "btn btn-info navbar-btn" %>
          </div>
          <div class="nav navbar-nav navbar-right left-div">
            <strong><%= current_user.name %></strong>
          </div>
        <!-- End of User name and Sign out button -->

        <!-- Sign In / Sign up buttons -->
        <% else %>
            <div class="nav navbar-nav navbar-right">

              <a class="btn btn-social btn-facebook navbar-btn" href="/auth/facebook">
                <span class="fa fa-facebook"></span> Sign in with Facebok
              </a>

              <a class="btn  btn-social btn-github navbar-btn" href="/auth/github">
                <span class="fa fa-github"></span> Sign in with Github
              </a>
              <a class="btn  btn-social btn-bitbucket navbar-btn" href="/auth/bitbucket">
                <span class="fa fa-bitbucket"></span> Sign in with Bitbucket
              </a>            

            </div>
        <% end %>
        <!-- End of Sign In / Sign up buttons -->
      </div>
    </nav>
    <!-- End of Navigation Bar -->

    <!-- Render views -->
    <%= yield %>
    <!-- End of rendering views -->
  </body>
</html>
